* {
  box-sizing: border-box;
}

.poster {
  width: 200px;
  height: auto;
}

.left {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.right {
  display: inline-block;
  width: 68%;
  vertical-align: top;
}
