<h1>List of Matcha Desserts</h1>


<% if logged_in? %>
  <h2><a href="desserts/new">Add new dessert</a></h2>
<% end %>

<% @desserts.each do |dessert| %>
  <div class="dessert">
    <h3>
      <%= dessert.name %>

      <img src="<%= dessert.image_url %>">

      <% if logged_in? %>
        <a href="desserts/<%= dessert.id %>/edit">Edit</a>
        <form action="/desserts/<%= dessert.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Delete</button>
        </form>
      <% end %>

    </h3>
  </div>
<% end %>
