<form action="/session" method="post">

  <label for="">email</label>
  <input name="email" type="text">

  <label for="">password</label>
  <input name="password" type="password"> <!--this is to mask the password when typing-->

  <button type="submit">login</button>

</form>

<%= @message %>
