<!DOCTYPE html>
<html>
  <head>
    <title>GoodfoodhuntingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <nav>
        <ul>
          <li>Home</li>
          <li>Dishes</li>

        </ul>
      </nav>

    </div>
    <%= yield %>
  </body>
</html>
